[v-cloak] {
  display: none;
}

/* 公用样式   lifuxu by 20170503*/
.displayflex {
  display: flex;
}

.mLr30 {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.pl60 {
  padding-left: 0.6rem;
}

.mb30 {
  margin-bottom: 0.3rem;
}

.w233 {
  width: 2.33rem;
}

.height7rem {
  height: 7.4rem !important;
}

.text-overflow1 {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**预留的公用按钮的样式 默认为蓝色 没有宽度**/
.sham-btn {
  box-sizing: border-box;
  padding: 0 0.12rem;
  display: inline-block;
  height: 0.38rem;
  line-height: 0.38rem;
  font-size: 0.2rem;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 0.04rem;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**默认按钮样式**/
.sham-btn.sham-btn-default {
  background-color: #4a69a4;
}

/** 确定按钮样式 **/
.sham-btn.sham-btn-sure {
  background-color: #f15151;
}

.sham-btn:hover {
  background-color: #4e5a7a;
}

.state-error {
  /** 错误  **/
  color: #ff6666 !important;
}

/**禁用按钮**/
.state-btn-disabled {
  color: #989898 !important;
}

.z-red {
  color: #e30c0c !important;
}

.z-disabled {
  background-color: #2f3136 !important;
  border: 0.01rem solid #595a5d !important;
  color: #838488 !important;
}

body {
  font-family: "Microsoft Yahei", "冬青黑体简体中文 w3", "宋体";
  height: 100%;
}

input[type='button'] {
  cursor: pointer;
}

/* 字体样式 */
@font-face {
  font-family: 'COLLECTION3';
  src: url('../iconfont/DESIGN.COLLECTION3.KLONDIKE.TTF');
}

@font-face {
  font-family: 'icon_number';
  src: url('../iconfont/540-CAI978_0.ttf') format('truetype');
}
